@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Square+Peg&family=WindSong&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Cormorant+SC&family=Montserrat:wght@500&family=Square+Peg&family=WindSong&display=swap');

.inicio{ font-family:'Cinzel', serif; color:rgb(226, 105, 145); width: 100%;
   background-color: rgb(255, 255, 255);text-align: center; ;
  }


header{ width: 100%; background-color: rgb(0, 0, 0);}
  header li{list-style: none; font-size: 20px;
     text-align: center; color: rgb(255, 255, 255); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

header a{ text-decoration: none;} 

.By{width: 100%;background-color: rgb(255, 254, 254); flex-direction: row;
  font-family: 'Square Peg', cursive; text-align: center; font-size: 150%; color: rgb(0, 0, 0);
  }
  
    

img{ width: 450px; box-sizing: border-box
    display flex; padding: 0%;margin: 0%;
}
 .hide{display: none; }

 .show{display: block;}

.volver{text-align: center; list-style: none; 
  font-size: 25px; font-style: initial; background-color: rgb(248, 165, 186);}

  .volver a{text-decoration: none; color: rgb(226, 43, 150);}
 
  .containerboton{ border: 1px;
  position: fixed;
   z-index: 999;
  bottom: 20px;
  right: 20px;
  padding: 25px;
  transition: ease;}

  .containerboton:hover{ transform: scale(1.1);
   transition: 0.3s;}

  .boton{ width: 70px;
   transition: ease 1s;}

  .boton{border-radius: 50%; border: 5px solid rgb(255, 255, 255);}


.logolente img{ 
  border-radius: 50%;
  width: 200px;
  height: 200px;
  padding: 10px;
  position:fixed;
  
  }